Engine Controller/~Engine Controller.kicad_pcb.lck
Engine Controller/Engine Controller.pdf
Engine Controller/Engine Controller.step
Engine Controller/fp-info-cache
Engine Controller/Engine Controller-backups/DAQ Case-2026-03-08_113252.zip
Engine Controller/Engine Controller-backups/DAQ Case-2026-03-08_114246.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-03-28_204443.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-01_200213.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-01_200717.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-01_201218.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-01_202759.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-01_210448.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-02_201730.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-02_202746.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-02_210637.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-02_223748.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-03_203904.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-03_211535.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-03_214159.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-03_220009.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-03_221321.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-04_000518.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-05_131153.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-11_142602.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-11_171817.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-11_174428.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-11_174944.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-11_211118.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-27_201010.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-04-27_211424.zip
Engine Controller/Engine Controller-backups/Engine Controller-2026-05-07_195435.zip
Engine Controller/Engine Controller.kicad_sch
Engine Controller/Engine Controller.kicad_pro
Engine Controller/Engine Controller.kicad_prl
Engine Controller/Engine Controller.kicad_pcb
Engine Controller/~Engine Controller.kicad_sch.lck
DAQ Case/DAQ Case/DAQ Case-backups/DAQ Case-2026-03-24_192354.zip
.vscode/settings.json
